retemplate:
  logging:
    level: INFO
    filename: retemplate.log
    format: '%(levelname)s,%(asctime)s,%(funcName)s,%(message)s'
stores:
  local-redis:
    type: redis
    host: localhost
    port: 6379
    db: 0
    ssl: False
templates:
  /opt/hiapi/config.txt:
    template: /etc/retemplate/hiapi.config.j2
    owner: root
    group: root
    chmod: 0600
    onchange: supervisorctl restart hiapi
    frequency: 60
